@import "@blueprintjs/core/lib/scss/variables.scss";

$header-height: 50px;

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: $header-height 1fr;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  background: $light-gray1;
}

.content {
  grid-area: content;
  height: calc(100vh - $header-height);
  background: $light-gray5;
  padding-top: 24px;
}

.centered {
  margin: 0 auto;
  @media (--mobile) {
    max-width: 256px;
  }
  @media (--tablet) {
    max-width: 512px;
  }
  @media (--laptop) {
    max-width: 768px;
  }
  @media (--desktop) {
    max-width: 1024px;
  }
}
